<eww>
    <includes>
    </includes>

    <definitions>
        <def name="system">
			<box class="genwin" vexpand="false" hexpand="false">
				<box orientation="v" spacing="35" halign="center" valign="center" space-evenly="false" vexpand="false" hexpand="false">
					<box class="cpu_bar" orientation="h" spacing="20" space-evenly="false" vexpand="false" hexpand="false">
						<label class="iconcpu" text="CPU"/>
						<scale min="0" max="100" value="{{CPU_USAGE}}" active="false"/>
					</box>
					<box class="mem_bar" orientation="h" spacing="20" space-evenly="false" vexpand="false" hexpand="false">
						<label class="iconmem" text="memory"/>
						<scale min="0" max="100" value="{{MEM_USAGE}}" active="false"/>
					</box>
					<box class="bright_bar" orientation="h" spacing="20" space-evenly="false" vexpand="false" hexpand="false">
						<label class="iconbright" text="light"/>
						<scale min="0" max="100" value="{{BLIGHT}}" active="false"/>
					</box>
					<box class="bat_bar" orientation="h" spacing="20" space-evenly="false" vexpand="false" hexpand="false">
						<label class="iconbat" text="battery"/>
						<scale min="0" max="100" value="{{BATTERY}}" active="false"/>
					</box>
				</box>
			</box>
		</def>
    </definitions>

    <variables>
		<script-var name="HOST" interval="5s">hostname</script-var>
		<script-var name="CPU_USAGE" interval="1s">~/.config/eww/scripts/sys_info --cpu</script-var>
		<script-var name="MEM_USAGE" interval="1s">~/.config/eww/scripts/sys_info --mem</script-var>
		<script-var name="BLIGHT" interval="1s">~/.config/eww/scripts/sys_info --blight</script-var>
		<script-var name="BATTERY" interval="5s">~/.config/eww/scripts/sys_info --bat</script-var>
    </variables>

    <windows>
    </windows>
</eww>